[submodule "eigen"]
	path = third_party/eigen
	url = https://gitlab.com/libeigen/eigen
[submodule "third_party/qpoases-mirror"]
	path = third_party/qpoases-mirror
	url = https://github.com/baskinburak/qpoases-mirror
